{% extends "auctions/layout.html" %}

{% block body %}
<section class="vh-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <form action="{% url 'login' %}" method="post" class="pb-5">
                {% csrf_token %}
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your username and password!</p>

                {% if message %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
  
                <div class="form-outline form-white mb-4 text-start">
                  <label class="form-label">Username</label>
                  <input type="text" name="username" placeholder="Username" class="form-control form-control-lg" />
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label">Password</label>
                  <input type="password" name="password" placeholder="Password" class="form-control form-control-lg" />
                </div>  
                <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Login">
  
              </div>
  
              <div>
                <p class="text-center">Don't have an account? <a href="{% url 'register' %}" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}